.form-body {
  text-align: center;
  width: 60%;
  margin: auto;
  border: solid;
  border-color: gray;
  box-shadow: 20rem;
  justify-content: center;
  justify-items: center;
}

.input-field {
  width: 51%;
  outline: none;
  padding: 10px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid;
}

.submit-btn {
  width: 30%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  border: 0;
  outline: none;
  border-radius: 30px;
}
.check-box {
  margin: 30px 10px 34px 0;
}
.sign-up-link a {
  text-decoration: none;
}
